<div class="main">
  <header class="header">
        
          <div class="flex-layout">
              <div class="card-layout">
                  <h1> <span *ngIf = "show"> Welcome </span><span *ngIf = "!show"> Hey </span>!</h1>
                  <form class="login-form-layout" [formGroup] = "loginForm" *ngIf = "show">
                      <mat-form-field class="login-full-width" >
                        <input matInput placeholder="Email" type="email" formControlName="Email" [errorStateMatcher]="matcher">
                        <span matSuffix style="color: firebrick;" >@accionlabs.com</span>
                        <mat-error *ngIf="!loginForm.hasError('Email')  && !loginForm.hasError('required')">
                            Please enter a valid email address
                          </mat-error>                  
                      </mat-form-field>
                      <mat-form-field class="login-full-width">
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-error *ngIf="!loginForm.hasError('password')">
                            Password is <strong>required</strong>
                          </mat-error>       
                      </mat-form-field> 
                      <a class="forgot" (click) = "onReset()">Forgot password?</a>
                  
                      <div class="btn-layout">
                          <button [disabled] = "loginForm.invalid" role="button" (click)="toDash()" mat-icon-button color="primary" type="submit">Login</button>
                          <!-- <button mat-button color="warn" role="button" (click)="navigateReg() " ><span class="reg-msg" >Not Yet Registered? </span> Register</button> -->
                      </div>
                  </form>  
                   <div class="forgotcard" *ngIf = "!show">
                          <p><mat-icon class="mail-icon">mail_outline</mat-icon>Check your mail to reset the password</p>
                          <button mat-stroked-button color = "warn" class="btn" (click) = "navigateBack()">Back</button>
                      </div>       
              </div>     
          </div>
          
      <div class="textbox">
        <div class="heading-primary">
          <span class="heading-primary-main">Accion Broadband Tracker</span>
          <!-- <span class="heading-primary-sub">Driving Outcomes Through Actions</span> -->
        </div>
      </div>
    </header>
  
  </div>